USE [Store]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_AvgYear_DiscountPrice]    Script Date: 9/13/2024 2:57:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Function [dbo].[Fn_AvgYear_DiscountPrice] ( @Date1 Char(10) , @Date2 Char(10) ) 
Returns Table 
As
Return

	Select Left(FactDate,4) As Year , Avg(DiscountPrice) As AvgDisPrice
		   From FCT.FactHeader FH 
		   Inner Join
		   FCT.FactDetail FD 
		   On FH.FactNo   =  FD.FactNo

		   Where FactDate Between @Date1 AND @Date2 

		   Group By Left(FactDate,4) 
		   Order By Year Offset 0 Rows
