USE [Store]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_CalcDisciuntPrice]    Script Date: 9/13/2024 2:57:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Function [dbo].[Fn_CalcDisciuntPrice] ( @Fee Int , @Qty Int , @Dis Numeric(18,2))
Returns Numeric(18,2)
As 
Begin 

		Declare @ResultDiscountPrice Numeric(18,2) 
		Select  @ResultDiscountPrice = @Fee * @Qty * @Dis
		Return  @ResultDiscountPrice

END 