USE [Store]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_ControlFact]    Script Date: 9/13/2024 2:58:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Function [dbo].[Fn_ControlFact] ( @Year Int )
Returns @Result Table ( Year Int , CountFactTotal Int , CountFactOk Int , CountFactDelay Int
						,PerCountFactOk Numeric(18,2) ,PerCountFactDelay Numeric(18,2) )
As 
Begin 
		--==================================
		Declare @Ok Table ( Year Int  , CountFactOk Int )
		Insert Into @Ok ( Year , CountFactOk ) 
		Select Year(Miladi_FactDate) , Count(FactNo)
			  From FCT.FactHeader 
			  Where Miladi_TransferDate < Miladi_RequiredDate
			  Group By Year(Miladi_FactDate)
		--=======================================
		Declare @Delay Table ( Year Int  , CountFactDelay Int )
		Insert Into @Delay ( Year , CountFactDelay ) 
		Select Year(Miladi_FactDate) , Count(FactNo)
			  From FCT.FactHeader 
			  Where IsNull(Miladi_TransferDate,GetDate()) >= Miladi_RequiredDate
			  Group By Year(Miladi_FactDate)
	    --==========================================
		Declare @Total Table ( Year Int  , CountFactTotal Int )
		Insert Into @Total ( Year , CountFactTotal ) 
		Select Year(Miladi_FactDate) , Count(FactNo)
			  From FCT.FactHeader 
			  Group By Year(Miladi_FactDate)

		--========================================

		Insert Into @Result ( Year  , CountFactTotal  , CountFactOk  , CountFactDelay 
						    ,PerCountFactOk  ,PerCountFactDelay )

		Select T.Year ,CountFactTotal , CountFactOk , CountFactDelay  
			  ,Cast(CountFactOk As Numeric(18,2))/ CountFactTotal * 100  , 
			  Cast(CountFactDelay As Numeric(18,2))/CountFactTotal * 100 
			  From @Total T 
			  Inner Join
			  @Ok O 
			  On T.Year   = O.Year
			  Inner Join
			  @Delay D 
			  On T.Year    =  D.Year

			  Where T.Year = Case When @Year = '1' Then T.Year Else @Year END 
			  Order By T.Year Offset 0 Rows

Return
END 