USE [Store]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_Sale_Growth]    Script Date: 9/13/2024 2:58:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Function [dbo].[Fn_Sale_Growth] ( @Date1 Char(10) , @Date2 Char(10)) 
Returns @Result Table ( Year Int , Month Int , Sale_Now Int , Sale_Befor Int , Rate Numeric(18,2)) 
As 
Begin 
		--=============================

		Declare @Sale Table ( Year Int , Month Int ,  Sale Numeric(18,2)) 
		Insert Into @Sale ( Year , Month , Sale ) 
		Select Left(FactDate,4) , Substring(FactDate,6,2), Sum(Price)
			  From FCT.FactHeader FH 
			  Inner Join
			  FCT.FactDetail FD 
			  On FH.FactNo    =    FD.FactNo

			  Where FactDate Between @Date1 AND @Date2 
			  Group By Left(FactDate,4) , Substring(FactDate,6,2)
			  Order By Left(FactDate,4) , Substring(FactDate,6,2)

			  --========================

			  Insert Into @Result ( Year , Month , Sale_Now , Sale_Befor , Rate) 
			  Select Year , Month , Sale 
					, Lag(Sale) Over ( Order By  Year , Month )
			         ,(Sale - Lag(Sale) Over ( Order By  Year , Month )) / Lag(Sale) Over ( Order By  Year , Month ) * 100 
				     From @Sale 

		     --============================
	

Return
END 