
Create Procedure [dbo].[SP_CategorySale] @Date1 Char(10) , @Date2 Char(10) , @CatCode Int 
As 
	
	Select PG.CatCode , PG.CatDesc , Sum(Price) As PriceCatCode 
		  From FCT.FactHeader FH
		  Inner Join
		  FCT.FactDetail FD
		  On FH.FactNo      =  FD.FactNo
		  Inner Join
		  PRD.Products P 
		  On P.ProductCode  = FD.ProductCode
		  Inner Join
		  PRD.ProductCategory PG 
		  On P.CatCode      =  PG.CatCode

		  Where FactDate Between @Date1 AND @Date2 
		  AND   P.CatCode   = Case When @CatCode = 0 Then P.CatCode Else @CatCode END 

		  Group By PG.CatCode , PG.CatDesc
		  Order By PriceCatCode Desc Offset 0 Rows