
Create  Procedure [dbo].[SP_CustomerSales_CTE] 
As 

	With TotalPrice As ( Select Sum(Price) As SumPrice
		                       From FCT.FactDetail ) ,

			CustomerPrice As (  Select C.CustomerCode , CompanyName , Sum(Price) As CustomerPrice
									  From FCT.FactHeader FH 
									  Inner Join
									  FCT.FactDetail FD 
									  On FH.FactNo   =  FD.FactNo
									  Inner Join
									  ORD.Customers C 
									  On C.CustomerCode   =  FH.CustomerCode

									  Group By C.CustomerCode , CompanyName )

			--================================ 


			Select CustomerCode , CompanyName , CustomerPrice , SumPrice 
					, Cast ( CustomerPrice /  SumPrice * 100 As Numeric(18,2)) As PercenetPrice
				  From TotalPrice , CustomerPrice
				  Order By CustomerPrice Desc Offset 0 Rows
