
Create Procedure [dbo].[SP_CountrySales] @Date1 Char(10) , @Date2 Char(10) 
As 
  
  --============================ 

  Select C.CountryCode , CT.CountryDesc , Sum(Price) As CountryPrice
		 Into #Temp1	
	     From FCT.FactHeader FH 
		 Inner Join
		 FCT.FactDetail FD 
		 On FH.FactNo    =  FD.FactNo
		 Inner Join
		 ORD.Customers C
		 On FH.CustomerCode   = C.CustomerCode
		 Inner Join
		 GEO.Country CT
		 On C.CountryCode      =   CT.CountryCode

		 Where FactDate Between @Date1 AND @Date2 
		 Group By C.CountryCode , CT.CountryDesc 

		 --===========================

		 Select Sum(Price) As PriceTotal
		       Into #Temp2
			   From FCT.FactHeader FH 
			   Inner Join
			   FCT.FactDetail FD 
		       On FH.FactNo    =  FD.FactNo 
			   Where FactDate Between @Date1 AND @Date2 
			   --========================

			   Select T1.CountryCode , T1.CountryDesc , T1.CountryPrice , T2.PriceTotal , 
					Cast ( T1.CountryPrice /T2.PriceTotal * 100 As Numeric(18,2)) As PercentPrice
				     From #Temp1 T1 
					 Inner Join
					 #Temp2 T2
					 On 1 = 1 

					 Order By PercentPrice Desc Offset 0 Rows